In [1]:
# control-flow statement -
# two types of loops
# 1. while loop
# 2. for loop
# before exploring loops in python i want to teach you that how a loop works -
# it will work in 3 phase
# - declaration of a variable
# - conditions applying on the variable that have been declared
# - increment or decrement of the variable that have been declared

# print 1 to 100 in python using loops
# - While loop
# count = 1

# while(count < 101):
#   print(count)
#   count += 1       # count = count + 1


# while ka matlb kya hai?
# - jab tak




# count = 1

# # while(count < 21):
# while(count <= 20):
#   print(count)
#   count = count + 1

In [2]:
# print 1 to 100
# print 100 to 1

In [3]:
# for loop in python
# range()

# for num in range(start, end-1, skip)

for num in range(1, 21):
  print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [4]:
for count in range(20, 0, -1):
  print(count)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [6]:
for num in range(1, 101, 2):
  print(num)

# redundancy ---> repeatation ---> loop

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [18]:
# non-primitive -

# li = [10,20,30,60,50]
# li[0]
# li[1]
# li[2]
# li[3]
# li[4]
# for ele in li:
#   print(ele)

# for ele in range(0, len(li)):
#   print(li[ele])
# len(li)  # length of list

# for num in range(0, 5):
#   print(num)



# tup = (1,2,3,6,5)

# for num in tup:
#   print(num)

# for ind in range(0, len(tup)):
#   print(tup[ind])

1
2
3
6
5
1
2
3
6
5