### ***Pandas Overview***

In [ ]:
# pip install pandas

In [ ]:
# is Python library which is used to Manipulate | Analyze and to Visualize the Data.
# Wes Mckinny thought that why to use e different libraries to perform analysis | manilpulation
# and basic visualization, through which they came up with an idea of Pandas.

# Pandas introduced two new dataframes -
# which are -
# 1. Series    -
# 2. DataFrame -

In [2]:
import pandas as pd

# employeeeesssTable = pd.Series(["Rahul", "Mohan", "Ankur", "Radheshyam"], ["A", "B", "C", "D"])
# employeeeesssTable

# empDetails = pd.DataFrame({
#     "empName": ["Rahul", "Mohan", "Ankur", "Radheshyam"],
#     "empAge": [32, 24, 31, 52],
#     "empSalary": ["22K", "15K", "35K", "90K"]
# })

# print(empDetails)



# Creating a Series -
# marvelList = ["She Hulk", "Loki", "Wanda Vision", "Hawkeye", "Falcon"]
# print(marvelList)

# marvelSeries = pd.Series(marvelList)
# print(marvelSeries)




# Creating a DataFrame -
# marvelDict = {
#     "Iron_Man": ["Iron Man 1", "Iron Man 2", "Iron Man 3"],
#     "Thor": ["The Dark World", "Ragnarok", "Love & Thunder"],
#     "Captain_America": ["The First Avenger","The Winter Soldier", "Civil War"],
#     "Spoider_Mon": ["Far From home", "HomeComing", "No Way Home"]
# }

# marvelDf = pd.DataFrame(marvelDict)
# marvelDf

# How To Import Datasets in **Pandas**

In [13]:
ds = pd.read_csv("originalDataset.csv")
# ds = pd.read_json("originalDataset.json")
# ds = pd.read_excel("originalDataset.xlsx")
# ds

# ds_json = pd.read_json("orgDas.json")
# print(ds_json)

# ds.to_json("orgDas.json")
# ds.to_csv("orgDas.csv")
# ds.to_excel("orgDas.xlsx")

       Scorecard        Team 1       Team 2        Winner     Margin  \
0        ODI # 1     Australia      England     Australia  5 wickets
1        ODI # 2       England    Australia       England  6 wickets
2        ODI # 3       England    Australia     Australia  5 wickets
3        ODI # 4       England    Australia       England  2 wickets
4        ODI # 5   New Zealand     Pakistan   New Zealand    22 runs
...          ...           ...          ...           ...        ...
3927  ODI # 3928         India  New Zealand   New Zealand  6 wickets
3928  ODI # 3929  South Africa   Bangladesh  South Africa   200 runs
3929  ODI # 3930      Pakistan    Sri Lanka      Pakistan  9 wickets
3930  ODI # 3931         India  New Zealand         India  6 wickets
3931  ODI # 3932         India  New Zealand         India     6 runs

            Ground    Match Date
0        Melbourne   Jan 5, 1971
1       Manchester  Aug 24, 1972
2           Lord's  Aug 26, 1972
3       Birmingham  Aug 28, 1972
4     Christchurch  Feb 11, 1973
...            ...           ...
3927        Mumbai  Oct 22, 2017
3928   East London  Oct 22, 2017
3929       Sharjah  Oct 23, 2017
3930          Pune  Oct 25, 2017
3931        Kanpur  Oct 29, 2017

[3932 rows x 7 columns]